@import "../../utils";

.messages {
	height: 100vh;
	width: 100%;
	padding: 20px;
	overflow: auto;

	.loader-wrapper {
		height: 100%;
		width: 100%;
		@extend %flexXY;

		svg {
			fill: $text-color;
			animation-duration: 1.2s;
		}
	}

	.messages-wrapper {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		flex: 1;
	}
}
