@import "../../utils";

.messages {
	height: 100vh;
	width: 100%;
	padding: 20px;
	overflow: auto;

	.messages-wrapper {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		flex: 1;
	}
}
