@import "../../utils";

.chat {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;

	.left {
		height: 100%;
		width: 400px;
		background-color: $bg-color2;
		@extend %transition;
		margin-left: 0;

		&.menu-toggle {
			margin-left: -400px;
		}
	}

	.right {
		height: 100vh;
		width: 100%;
		background-color: $bg-color3;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		z-index: 2;
		@extend %transition;
	}
}

@media (max-width: 800px) {
	.chat {
		position: relative;
		.left {
			width: 300px;
			position: absolute;
			&.menu-toggle {
				margin-left: 0px;
			}
		}

		.right {
			transform: translateX(0px);
			&.menu-toggle {
				transform: translateX(300px);
			}
		}
	}
}

@media (max-width: 320px) {
	.chat {
		position: relative;
		.left {
			width: 250px;
			position: absolute;
			&.menu-toggle {
				margin-left: 0px;
			}
		}

		.right {
			transform: translateX(250px);
			&.menu-toggle {
				transform: translateX(0px);
			}
		}
	}
}
