@import "../../utils.scss";

button {
	@extend %border-radius;
	border: none;
	padding: 10px 40px;
	outline: none;
	cursor: pointer;
	background-color: #fc5130;
	color: $text-color;
	font-weight: bold;
	user-select: none;
	@extend %transition;

	&:hover {
		background-color: #d94126;
	}
}
