@import "../../../utils";

.usersContainer > .user {
	display: flex;
	padding: 12px 15px;
	background-color: $bg-color3;
	@extend %border-radius;
	@extend %transition;
	cursor: pointer;
	margin-bottom: 5px;

	&:hover {
		background-color: #4a536d;
	}

	.status {
		@extend %flexY;

		.status-icon {
			height: 8px;
			width: 8px;
			background-color: $green;
			border-radius: 50%;
			margin-right: 5px;
		}

		.user-icon {
			height: 8px;
			width: 8px;
			margin-right: 5px;
		}
	}
	.name {
		font-size: 0.8rem;
		color: $text-color;
		margin-bottom: -2px;

		span {
			color: $text-color-disabled;
		}
	}
}
