@import "../../utils";

.join {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $text-color;
	flex-direction: column;

	.container {
		padding: 100px 100px;
		background-color: $bg-color3;
		@extend %border-radius;
		@extend %shadow;
		@extend %flexXY;
		flex-direction: column;

		span {
			font-size: 3rem;
			font-weight: bold;
			margin-bottom: 30px;
			user-select: none;
		}

		form {
			display: flex;
			flex-direction: column;

			input {
				font-size: 1rem;
				background-color: $bg-color2;
				border: none;
				color: $text-color;
				padding: 10px 15px;
				@extend %border-radius;
				margin-bottom: 5px;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: $text-color-disabled;
				}
			}

			.errors {
				opacity: 0;
				height: 10px;
				font-size: 0.8rem;
				font-weight: bold;
				margin: 0 auto 15px;
				@extend %transition;
			}

			a {
				margin: 0 auto;
			}

			button {
				@extend %border-radius;
				border: none;
				padding: 10px 40px;
				outline: none;
				cursor: pointer;
				background-color: #fc5130;
				color: $text-color;
				font-weight: bold;
				user-select: none;
				@extend %transition;

				&:hover {
					background-color: #d94126;
				}
			}
		}
	}

	> span {
		font-size: 0.9rem;
		max-width: 35%;
		text-align: center;
		margin-top: 20px;
		color: $text-color-disabled;
	}
}

@media (max-width: 450px) {
	.join {
		.container {
			padding: 60px 60px;
		}

		> span {
			max-width: 80%;
			margin-top: 20px;
		}
	}
}

@media (max-width: 360px) {
	.join {
		.container {
			padding: 60px 40px;
		}
	}
}
