@import "../../utils.scss";

.message-container {
	height: auto;
	min-height: 37px;
	width: 100%;
	margin-bottom: 10px;
	display: flex;

	&.user {
		justify-content: flex-end;
		flex-flow: column;
	}

	&.partner {
		justify-content: flex-start;
		flex-flow: column;
	}

	&.admin {
		justify-content: center;
	}

	.name {
		display: flex;
		font-size: 0.8rem;
		margin-bottom: 5px;
		color: $text-color-disabled;
		&.user {
			justify-content: flex-end;
		}
		&.admin {
			display: none;
		}
	}

	.wrapper {
		display: flex;

		&.user {
			justify-content: flex-end;
		}

		.container {
			display: flex;

			&.partner {
				flex-direction: row-reverse;
			}

			.message {
				height: auto;
				width: auto;
				padding: 10px 15px;
				@extend %border-radius;
				cursor: pointer;
				display: inline-block;
				font-size: 0.8rem;
				@extend %shadow;
				z-index: 2;
				word-break: break-all;

				&.user {
					// background-color: #6369d1;
					background-color: #3891a6;
					color: $text-color;
				}

				&.partner {
					background-color: $bg-color2;
					color: $text-color;
				}

				&.admin,
				.message-container {
					@extend %flexX;
					box-shadow: none;
					color: $text-color-disabled;
					font-size: 0.75rem;
					font-weight: bold;
				}
			}

			.time {
				font-size: 0.75rem;
				color: $text-color-disabled;
				padding: 0 10px;
				display: flex;
				align-items: flex-end;
				transform: translateX(0px);
				opacity: 1;
				@extend %transition;

				&.hidden {
					opacity: 0;
					transform: translateX(40px);
				}

				&.admin {
					display: none;
				}
			}
		}
	}
}
